<form class="image-form" action="" method="post">
  <input class ="image-url" type="button" name="image-url" value="">
  <input class ="image-caption" type="button" name="image-caption" value="">
  <button name="button">Cancel</button>
  <button name="button"><i class="fa fa-picture-o fa-2x"></i>Add image</button>
</form>
