@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

.header {
  height: 50px;
  background-color: #496D99;
}

  .header-container {
    @include outer-container(1080px);
  }

    .fa {
      color: #082238;
      margin-top: 0.25em;
    }

.container {
  @include outer-container(840px);
  height: auto;
  background-color: #E0E1E2;
  border-right: 2px solid $medium-gray;
  border-bottom: 2px solid $medium-gray;
  border-left: 2px solid $medium-gray;
}

  .each-image {
    list-style: none;
  }

    .image-contents {
      width: 70%;
      height: 450px;
      margin: 0 auto;
      background-color: #fff;
      margin-bottom: 2em;
    }

    .image {
      width:100%;
      height: 400px;
    }
